<?xml version="1.0" encoding="UTF-8"?>

<web-app               xmlns="http://java.sun.com/xml/ns/j2ee"
                   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                              http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
                      version="2.4">

  <!-- Display name for this application -->
  <display-name>@projectName@</display-name>

  <!--servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>
         com.gruppotesi.foosball.server.LoginServiceImpl
      </servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>foosball</servlet-name>
      <url-pattern>/foosball</url-pattern>
   </servlet-mapping--> 

  <!-- Welcome File List -->
  <welcome-file-list>
    <welcome-file>Foosball.html</welcome-file>
  </welcome-file-list>
</web-app>
